{% extends 'SoccerStats/base.html' %}

{% load humanize %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Position</th>
            <th>Jersey Number</th>
            <th>Date of birth</th>
            <th>Nationality</th>
            <th>Contract until</th>
            <th>Market value</th>
        </tr>
        </thead>
        {% for player in players %}
            <tbody>
            <tr
                    onclick="document.location.href = '{% url 'player:detail' player.id %}'"
                    style="cursor: hand"
            >
                <td>{{ player.team.name }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.jersey_number }}</td>
                <td>{{ player.date_of_birth }}</td>
                <td>{{ player.nationality }}</td>
                <td>{{ player.contract_until }}</td>
                <td>{{ player.market_value|intword }} €</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                <li><span>{{ page_obj.number }}</span></li>
                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <h3>Players</h3>
        <p>Players not available</p>
    {% endif %}
{% endblock %}