{% extends 'SoccerStats/base.html' %}

{% load humanize %}

{% block content %}
    <div class="card card-inverse">
        <div class="card-header bg-primary">
            <h3 class="card-title">{{ player.name }}</h3>
        </div>
        {% if player.image %}
            <img
                    class="card-img-top img-fluid"
                    src="{{ player.image }}"
                    alt="{{ player.name }}"
                    onerror="this.style.display='none'"
            >
        {% endif %}
        <div class="table-responsive bg-primary">
            <table class="table table-inverse">
                <thead>
                <tr>
                    {% if player.date_of_birth %}
                        <th>Geburtstag</th>
                    {% endif %}
                    <th>Nationalität</th>
                    <th
                            onclick="document.location='{% url 'team:detail' player.team_id %}'"
                            style="cursor: hand"
                    >Verein
                    </th>
                    {% if player.contract_until %}
                        <th>Vertrag</th>
                    {% endif %}
                    <th>Position</th>
                    {% if player.jersey_number %}
                        <th>Trikotnummer</th>
                    {% endif %}
                    {% if player.market_value %}
                        <th>Markwert</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% if player.date_of_birth %}
                    <td>{{ player.date_of_birth }}</td>
                {% endif %}
                <td>{{ player.nationality }}</td>
                <td
                        onclick="document.location='{% url 'team:detail' player.team_id %}'"
                        style="cursor: hand"
                >{{ player.team.name }}</td>
                {% if player.contract_until %}
                    <td>{{ player.contract_until }}</td>
                {% endif %}
                <td>{{ player.position }}</td>
                {% if player.jersey_number %}
                    <td>{{ player.jersey_number }}</td>
                {% endif %}
                {% if player.market_value %}
                    <td>{{ player.market_value|intword }} €</td>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}