{% extends 'SoccerStats/base.html' %}

{% load humanize %}

{% block content %}
    <card>
        <grid>
            <div col="5/6">
                <h1>{{ team.name }}</h1>
                <table>
                    <tr>
                        <th>Kadergröße</th>
                        <td>{{ team.player_set.all|length }}</td>
                    </tr>
                    {% if team.squad_market_value %}
                        <tr>
                            <th>Marktwert</th>
                            <td>{{ team.squad_market_value|intword }} €</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div col="1/6">
                {% if team.crest_url %}
                    <img src="{{ team.crest_url }}">
                {% endif %}
            </div>
        </grid>
        <hr>
        <h3>Spieler</h3>
        <table>
            <thead>
            <tr>
                <th>Nummer</th>
                <th>Spieler</th>
                <th>Geb./Alter</th>
                <th>Nat.</th>
                <th>Marktwert</th>
            </tr>
            </thead>
            <tbody>
            {% for player in team.player_set.all %}
                <tr onclick="document.location.href = '{% url 'player:detail' player.id %}'" style="cursor: hand">
                    <td>{{ player.jersey_number }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.date_of_birth }} ({{ player.age }})</td>
                    <td>{{ player.nationality }}</td>
                    {% if player.market_value %}
                        <td>{{ player.market_value|intword }} €</td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </card>
{% endblock %}