{% extends 'SoccerStats/base.html' %}

{% load humanize %}

{% block content %}
    <grid>
        {% for team in teams %}
            <div col="1/2">
                <card>
                    <grid>
                        <div col="11/12">
                            <h1>{{ team.name }}</h1>
                        </div>
                        <div col="1/12">
                            {% if team.crest_url %}
                                <img src="{{ team.crest_url }}">
                            {% endif %}
                        </div>
                    </grid>
                    <table>
                        <tr>
                            <th>Kadergröße</th>
                            <td>{{ team.player_set.all|length }}</td>
                        </tr>
                    </table>
                </card>
            </div>
        {% endfor %}
    </grid>
{% endblock %}