{% load staticfiles %}
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>{% block title %}Bad Bat Bets{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'footballData/style.css' %}"
    <link rel="icon" href="{% static 'footballData/icons/favicon.ico' %}">
    <script src="https://use.fontawesome.com/f21c3244d2.js"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
