{% extends 'footballData/base.html' %}

{% block content %}
    <section>
        {% if league_table %}
                <h5>{{ league_table.league_caption }} Tabelle</h5>
                <table>
                    <thead>
                    <tr>
                        <th>Position</th>
                        <th>Verein</th>
                        <th>Spiele</th>
                        <th>g.</th>
                        <th>u.</th>
                        <th>v.</th>
                        <th>Tore</th>
                        <th>Diff.</th>
                        <th>Pkte.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for standing in league_table.standing_set.all %}
                        <tr>
                            <td>
                                {# TODO Use position_changed data #}
                                <tag><i class="fa fa-arrow-up" aria-hidden="true"></i></tag>
                                {{ standing.position }}
                            </td>
                            <td>{{ standing.team_name }}</td>
                            <td>{{ standing.played_games }}</td>
                            <td>{{ standing.wins }}</td>
                            <td>{{ standing.draws }}</td>
                            <td>{{ standing.losses }}</td>
                            <td>{{ standing.goals }}:{{ standing.goals_against }}</td>
                            <td>{{ standing.goal_difference }}</td>
                            <td>{{ standing.points }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        {% else %}
            <p>No league tables are available.</p>
        {% endif %}
    </section>
{% endblock %}