{% extends 'SoccerStats/base.html' %}

{% load math_extras %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Cup</th>
            <th>Caption</th>
            <th>League</th>
            <th>Year</th>
            <th>Matchday</th>
            <th>Number of matchdays</th>
            <th>Number of teams</th>
            <th>Number of games</th>
            <th>Last updated</th>
        </tr>
        </thead>
        {% for competition in competitions %}
            <tbody>
            <tr
                    onclick="document.location.href = '{% url 'competition:detail' competition.id %}'"
                    style="cursor: hand"
            >
                <td>{{ competition.is_cup }}</td>
                <td>{{ competition.caption }}</td>
                <td>{{ competition.league }}</td>
                <td>{{ competition.year }}</td>
                <td>{{ competition.current_matchday }}</td>
                <td>{{ competition.number_of_matchdays }}</td>
                <td>{{ competition.number_of_teams }}</td>
                <td>{{ competition.number_of_games }}</td>
                <td>{{ competition.last_updated }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a
                            class="page-link"
                            href="?page={{ page_obj.previous_page_number }}"
                            aria-label="Previous"
                    >
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                        <span class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </span>
                </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {# TODO Fix first/last page bug #}
                {% if page == page_obj.number %}
                    <li class="page-item active">
                        <a class="page-link">
                            {{ page_obj.number }} <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {% elif page <= page_obj.next_page_number|add:1 and page >= page_obj.previous_page_number|sub:1 %}
                    <li class="page-item">
                        <a
                                class="page-link"
                                href="?page={{ page }}"
                        >
                            {{ page }} <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a
                            class="page-link"
                            href="?page={{ page_obj.next_page_number }}"
                            aria-label="Next"
                    >
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                        <span class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}