{% extends 'SoccerStats/base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-4">
                    <h3 class="panel-title">{{ competition.caption }}</h3>
                </div>
                {% if competition.is_cup %}
                    <div class="col-xs-8 text-right">
                        <span class="label label-default"><i class="fa fa-trophy" aria-hidden="true"></i></span>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <a class="list-group-item">
                    <span class="badge">{{ competition.current_matchday }}</span>
                    Aktueller Spieltag
                </a>
                <a class="list-group-item">
                    <span class="badge">{{ competition.number_of_matchdays }}</span>
                    Spieltage
                </a>
                <a class="list-group-item">
                    <span class="badge">{{ competition.number_of_teams }}</span>
                    Mannschaften
                </a>
                <a class="list-group-item">
                    <span class="badge">{{ competition.number_of_games }}</span>
                    Spiele
                </a>
            </ul>
            <h4>Vereine</h4>
            <ul class="list-group">
                {% for team in competition.team_set.all %}
                    <a class="list-group-item" href="{% url 'team:detail' team.id %}">
                        <div class="row">
                            <div class="col-xs-10">
                                {{ team.name }}
                            </div>
                            <div class="col-xs-2 text-right">
                                <img
                                        class="img-thumbnail"
                                        src="{{ team.crest_url }}"
                                        alt="{{ team.name }}"
                                        style="max-height: 2em"
                                        onerror="this.style.display='none'"
                                >
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </div>
{% endblock %}