{% extends 'SoccerStats/base.html' %}

{% block content %}
    <card>
        {% if competition.is_cup %}
            <grid>
                <div col="5/6">
                    <h3>{{ competition.caption }}</h3>
                </div>
                <div col="1/6">
                    <tag><i class="fa fa-trophy fa-2x" aria-hidden="true"></i></tag>
                </div>
            </grid>
        {% else %}
            <h3>{{ competition.caption }}</h3>
        {% endif %}
        <hr>
        <table>
            <tr>
                <th>Aktueller Spieltag</th>
                <td>{{ competition.current_matchday }}</td>
            </tr>
            <tr>
                <th>Spieltage</th>
                <td>{{ competition.number_of_matchdays }}</td>
            </tr>
            <tr>
                <th>Mannschaften</th>
                <td>{{ competition.number_of_teams }}</td>
            </tr>
            <tr>
                <th>Spiele</th>
                <td>{{ competition.number_of_games }}</td>
            </tr>
        </table>
        <hr>
        <h4>Vereine</h4>
        <table>
            <tbody>
            {% for team in competition.team_set.all %}
                <tr>
                    <td>
                        <a href="{% url 'team:detail' team.id %}" style="width: 100%">{{ team.name }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </card>
{% endblock %}