{% load staticfiles %}
{% load list_extras %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Thomas Mohr">
    <meta name="description" content="SoccerStats ist eine intuitiv zu bedienende Fußballdatenbank"/>
    {# TODO Use custom titles in different templates #}
    <title>{% block title %}SoccerStats{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'SoccerStats/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'SoccerStats/css/ionicons.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'SoccerStats/css/style.css' %}">
    <link rel="icon" href="{% static 'SoccerStats/img/favicon-soccer-ball-o.ico' %}">
</head>
<body class="bg-faded">
<nav class="navbar navbar-toggleable-sm fixed-top">
    <div class="container">
        <button
                class="navbar-toggler hidden-md-up float-right"
                type="button"
                data-toggle="collapse"
                data-target="#collapsingNavbar"
        >
            ☰
        </button>
        <a class="navbar-brand page-scroll" href="{% url 'index' %}">SoccerStats</a>
        <div class="collapse navbar-collapse" id="collapsingNavbar">
            <ul class="navbar-nav ml-auto">
                {% block nav %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'competition:list' %}">Wettbewerbe</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'fixture:list' %}">Begegnungen</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'player:list' %}">Spieler</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'table:list' %}">Tabellen</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'team:list' %}">Mannschaften</a></li>
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 class="text-uppercase">Projekte</h6>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="//api.football-data.org/index">football-data</a></li>
                    <li><a target="_blank" href="//www.djangoproject.com/">Django</a></li>
                    <li><a target="_blank" href="//v4-alpha.getbootstrap.com/">Bootstrap 4</a></li>
                </ul>
            </div>
            <div class="col">
                <h6 class="text-uppercase">Informationen</h6>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="mailto:ThomasMohr1990@gmail.com">Kontakt</a></li>
                    <li><a target="_blank" href="//github.com/Thames1990/SoccerStatsDjango">GitHub</a></li>
                </ul>
            </div>
        </div>
        <br>
        <span class="text-muted small">
            Thomas Mohr &copy; 2016
            <script>
                new Date().getFullYear() > 2016 && document.write("-" + new Date().getFullYear());
            </script>
        </span>
    </div>
</footer>
<script src="{% static 'SoccerStats/js/jquery-3.1.1.slim.min.js' %}"></script>
<script src="{% static 'SoccerStats/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'SoccerStats/js/tether.min.js' %}"></script>
<script src="{% static 'SoccerStats/js/bootstrap.min.js' %}"></script>
<script src="{% static 'SoccerStats/js/scripts.js' %}"></script>
</body>
</html>