{% load staticfiles %}
{% load list_extras %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# TODO Use custom titles in different templates #}
    <title>{% block title %}SoccerStats{% endblock %}</title>
    <meta name="author" content="Thomas Mohr">
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
            integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
            crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{% static 'SoccerStats/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'SoccerStats/assets/favicon-soccer-ball-o.ico' %}">
</head>
<body class="bg-inverse">
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button
            class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index' %}">SoccerStats</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="{% url 'competition:list' %}"
                        id="navbarDropdownCompetitions"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    Wettbewerbe
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCompetitions">
                    {% for competition_tuple in competition_tuples %}
                        <a class="dropdown-item" href="{% url 'competition:detail' competition_tuple.id %}">
                            {{ competition_tuple.caption }}
                        </a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="{% url 'fixture:list' %}"
                        id="navbarDropdownFixtures"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    Begegnungen
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownFixtures">
                    {% for fixture_tuple in fixture_tuples %}
                        <a class="dropdown-item" href="{% url 'fixture:detail' fixture_tuple.id %}">
                            {{ fixture_tuple.home_team__name }} vs. {{ fixture_tuple.away_team__name }}
                        </a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="{% url 'player:list' %}"
                        id="navbarDropdownPlayers"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    Spieler
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPlayers">
                    {% for player_tuple in player_tuples %}
                        <a class="dropdown-item" href="{% url 'player:detail' player_tuple.id %}">
                            {{ player_tuple.name }}
                        </a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="{% url 'table:list' %}"
                        id="navbarDropdownTables"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    Tabellen
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownTables">
                    {% for table_tuple in table_tuples %}
                        <a class="dropdown-item" href="{% url 'table:detail' table_tuple.id %}">
                            {{ table_tuple.competition.caption }}
                        </a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="{% url 'team:list' %}"
                        id="navbarDropdownTeams"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    Mannschaften
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownTeams">
                    {% for team_tuple in team_tuples %}
                        <a class="dropdown-item" href="{% url 'team:detail' team_tuple.id %}">
                            {{ team_tuple.name }}
                        </a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Suchen">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suchen</button>
        </form>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>
<hr>
<footer class="text-muted">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a target="_blank" href="https://github.com/Thames1990/SoccerStatsDjango">GitHub</a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="mailto:ThomasMohr1990@gmail.com">Email</a>
            </li>
        </ul>
        <p>
            &copy; 2016
            <script>
                new Date().getFullYear()>2016&&document.write("-"+new Date().getFullYear());
            </script>
            , Thomas Mohr
        </p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>