{% extends 'SoccerStats/base.html' %}

{% load humanize %}
{% load static %}

{% block nav %}
    <li class="nav-item"><a class="nav-link page-scroll" href="#competitions">Wettbewerbe</a></li>
    <li class="nav-item"><a class="nav-link page-scroll" href="#fixtures">Begegnungen</a></li>
    <li class="nav-item"><a class="nav-link page-scroll" href="#players">Spieler</a></li>
    <li class="nav-item"><a class="nav-link page-scroll" href="#tables">Tabellen</a></li>
    <li class="nav-item"><a class="nav-link page-scroll" href="#teams">Mannschaften</a></li>
{% endblock %}

{% block content %}
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h2>SoccerStats</h2>
                <h5 class="wow fadeIn text-normal">Intuitive Fußballdatenbank</h5>
                <hr>
                <a href="#competitions" class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp">Entdecken</a>
            </div>
        </div>
    </header>

    <section id="competitions">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="m-t-0 text-primary">Wettbewerbe</h2>
                    <hr class="accent">
                </div>
            </div>
            <div class="text-center">
                <div class="feature">
                    <i class="icon-lg ion-podium"></i>
                    <h6 class="text-uppercase">Wettbewerbe</h6>
                    <p class="text-muted m-b-0">{{ competition.count }}</p>
                </div>
            </div>
            {% if competition.list %}
                <div class="card-columns">
                    {% for competition in competition.list %}
                        <div class="card">
                            <img
                                    class="card-img-top img-fluid img-thumbnail"
                                    src="{% static 'SoccerStats/img/state_diagram_fixturestatus.png' %}"
                            >
                            <div class="card-block">
                                <h4 class="card-title">{{ competition.caption }}</h4>
                                <p class="card-text">TODO</p>
                                <a
                                        href="{% url 'competition:detail' competition.id %}"
                                        class="btn btn-primary"
                                >
                                    Zum Wettbewerb
                                </a>
                            </div>
                            <div class="card-footer text-muted">
                                Aktualisiert vor {{ competition.last_updated|timesince }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="container text-center">
            <a
                    class="btn btn-lg text-normal btn-outline-primary"
                    href="{% url 'competition:list' %}"
                    role="button"
            >
                Zu allen Wettbewerben
            </a>
        </div>
    </section>

    <section id="fixtures" class="bg-alt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="m-t-0 text-primary">Begegnungen</h2>
                    <hr class="accent">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-football"></i>
                        <h6 class="text-uppercase">&#216; Tore</h6>
                        <p class="text-muted m-b-0">{{ fixture.result_avg.goals_home_team|default_if_none:0 }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-grid-view-outline"></i>
                        <h6 class="text-uppercase">Begegnungen</h6>
                        <p class="text-muted m-b-0">{{ fixture.count }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-football-outline"></i>
                        <h6 class="text-uppercase">&#216; Gegentore</h6>
                        <p class="text-muted m-b-0">{{ fixture.result_avg.goals_away_team|default_if_none:0 }}</p>
                    </div>
                </div>
            </div>
            <hr>
            {% for last_five in fixture.last_five %}
                <div class="card text-center">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <a href="{% url 'team:detail' last_five.home_team.id %}">
                                    <img
                                            class="card-img-top img-thumbnail img-fluid"
                                            src="{{ last_five.home_team.crest_url }}"
                                            alt="={{ last_five.home_team.name }}"
                                            style="max-height: 10em"
                                            onerror="this.src='{% static 'SoccerStats/img/team.svg' %}'"
                                    >
                                </a>
                            </div>
                            <div class="col">
                                <a href="{% url 'fixture:detail' last_five.id %}">
                                    <h5 class="card-title">{{ last_five.home_team.name }}</h5>
                                    <h5 class="card-title">vs</h5>
                                    <h5 class="card-title">{{ last_five.away_team.name }}</h5>
                                </a>
                            </div>
                            <div class="col">
                                <a href="{% url 'team:detail' last_five.away_team.id %}">
                                    <img
                                            class="card-img-top img-thumbnail img-fluid"
                                            src="{{ last_five.away_team.crest_url }}"
                                            alt="={{ last_five.away_team.name }}"
                                            style="max-height: 10em"
                                            onerror="this.src='{% static 'SoccerStats/img/team.svg' %}'"
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <h6 class="card-text">
                            {{ last_five.result_set.first.goals_home_team }}
                            :
                            {{ last_five.result_set.first.goals_away_team }}
                        </h6>
                        {% if last_five.result_set.first.halftime_set.all %}
                            <p class="card-text">
                                <small>
                                    (
                                    {{ last_five.result_set.first.halftime_set.first.goals_home_team }}
                                    :
                                    {{ last_five.result_set.first.halftime_set.first.goals_away_team }}
                                    )
                                </small>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="container text-center">
            <a
                    class="btn btn-lg text-normal btn-outline-primary"
                    href="{% url 'fixture:list' %}"
                    role="button"
            >
                Zu allen Begegnungen
            </a>
        </div>
    </section>

    <section id="players">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="m-t-0 text-primary">Spieler</h2>
                    <hr class="accent">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-body"></i>
                        <h6 class="text-uppercase">Spieler</h6>
                        <p class="text-muted m-b-0">{{ player.count }}</p>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="feature">
                        <i class="icon-lg ion-social-euro"></i>
                        <h6 class="text-uppercase">&#216; Marktwert</h6>
                        <p class="text-muted m-b-0">{{ player.market_value.avg|intword|default_if_none:0 }}</p>
                    </div>
                </div>
            </div>
            <hr>
            {% if player.best_three %}
                <div class="card-deck">
                    {% for player in player.best_three %}
                        <div class="card text-sm-center">
                            <img class="card-img-top img-fluid"
                                 src="{{ player.image }}"
                                 alt="{{ player.name }}"
                            >
                            <div class="card-header">
                                <div class="d-flex w-100 justify-content-between">
                                    <h4 class="card-title mb-0">{{ player.name }}</h4>
                                    {% if player.jersey_number %}
                                        <h4 class="card-title mb-0">{{ player.jersey_number }}</h4>
                                    {% endif %}
                                </div>
                            </div>
                            {# TODO Fix text wrapping #}
                            <ul class="list-group list-group-flush">
                                <li
                                        class="list-group-item list-group-item-action"
                                        onclick="document.location='{% url 'team:detail' player.team.id %}'"
                                        style="cursor: pointer;"
                                >
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-0">Mannschaft</p>
                                        <p class="mb-0">{{ player.team.name }}</p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-0">Position</p>
                                        <p class="mb-0">{{ player.position }}</p>
                                    </div>
                                </li>
                                {% if player.date_of_birth %}
                                    <li class="list-group-item">
                                        <div class="d-flex w-100 justify-content-between">
                                            <p class="mb-0">Geburtsdatum</p>
                                            <p class="mb-0">
                                                {{ player.date_of_birth }}
                                                ({{ player.age }})
                                            </p>
                                        </div>
                                    </li>
                                {% endif %}
                                <li class="list-group-item">
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-0">Nationalität</p>
                                        <p class="mb-0">{{ player.nationality }}</p>
                                    </div>
                                </li>
                                {% if player.contract_until %}
                                    <li class="list-group-item">
                                        <div class="d-flex w-100 justify-content-between">
                                            <p class="mb-0">Vertrag bis</p>
                                            <p class="mb-0">{{ player.contract_until }}</p>
                                        </div>
                                    </li>
                                {% endif %}
                                {% if player.market_value %}
                                    <li class="list-group-item">
                                        <div class="d-flex w-100 justify-content-between">
                                            <p class="mb-0">Marktwert</p>
                                            <p class="mb-0">{{ player.market_value|intword }} €</p>
                                        </div>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="card-footer text-center">
                                <a
                                        href="{% url 'player:detail' player.id %}"
                                        class="btn text-normal btn-primary"
                                        role="button"
                                >
                                    Zum Spieler
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <hr>
            {% endif %}
            <div class="container text-center">
                <a
                        class="btn btn-lg text-normal btn-outline-primary"
                        href="{% url 'player:list' %}"
                        role="button"
                >
                    Zu allen Spielern
                </a>
            </div>
    </section>

    <section id="tables" class="bg-alt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="m-t-0 text-primary">Tabellen</h2>
                    <hr class="accent">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-football"></i>
                        <h6 class="text-uppercase">Torrekord</h6>
                        <p class="text-muted m-b-0">{{ table.goals_record|default_if_none:0 }}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-pulse"></i>
                        <h6 class="text-uppercase">Punkterekord</h6>
                        <p class="text-muted m-b-0">{{ table.points_record|default_if_none:0 }}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-football-outline"></i>
                        <h6 class="text-uppercase">Gegentorrekord</h6>
                        <p class="text-muted m-b-0">{{ table.goals_against_record|default_if_none:0 }}</p>
                    </div>
                </div>
            </div>
            <hr>
            {% if table.list %}
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Wettbewerb</th>
                                <th>Aktueller Spieltag</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for table in table.list %}
                                <tr
                                        onclick="document.location = '{% url 'table:detail' table.id %}'"
                                        style="cursor: pointer"
                                >
                                    <td>{{ table.competition.caption }}</td>
                                    {% if table.competition.number_of_matchdays == table.matchday %}
                                        <td>{{ table.matchday }} (Beendet)</td>
                                    {% else %}
                                        <td>{{ table.matchday }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
            {% endif %}
        </div>
        <div class="container text-center">
            <a
                    class="btn btn-lg text-normal btn-outline-primary"
                    href="{% url 'table:list' %}"
                    role="button"
            >
                Zu allen Tabellen
            </a>
        </div>
    </section>

    <section id="teams">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="m-t-0 text-primary">Mannschaften</h2>
                    <hr class="accent">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-people"></i>
                        <h6 class="text-uppercase">Mannschaften</h6>
                        <p class="text-muted m-b-0">{{ team.count }}</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-social-euro"></i>
                        <h6 class="text-uppercase">&#216; Marktwert</h6>
                        <p class="text-muted m-b-0">{{ team.squad_market_value|intword|default_if_none:0 }}</p>
                    </div>
                </div>
            </div>
            {% if team.best_ten %}
                <div class="card-columns">
                    {% for team in team.best_ten %}
                        <div class="card">
                            <img
                                    class="card-img-top img-fluid img-thumbnail"
                                    src="{{ team.crest_url }}"
                                    alt="{{ team.name }}"
                                    onerror="this.src='{% static 'SoccerStats/img/team.svg' %}'"
                            >
                            <div class="card-block">
                                <h4 class="card-title">{{ team.name }}</h4>
                                <p class="card-text">TODO</p>
                                <a
                                        href="{% url 'team:detail' team.id %}"
                                        class="btn btn-primary"
                                >
                                    Zum Team
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="container text-center">
            <a
                    class="btn btn-lg text-normal btn-outline-primary"
                    href="{% url 'team:list' %}"
                    role="button"
            >
                Zu allen Mannschaften
            </a>
        </div>
    </section>
{% endblock %}