{% extends 'SoccerStats/base.html' %}

{% load humanize %}

{% block content %}
    <card>
        <grid>
            <div col="1/3">
                <h1>Wettbewerbe</h1>
            </div>
            <div col="2/3" txt="r">
                <tag>{{ competition.count }} Wettbewerbe</tag>
                <tag>{{ competition.team.count }} Mannschaften</tag>
            </div>
        </grid>
        <table>
            <thead>
            <tr>
                <th>Wettbewerb</th>
                <th>Aktueller Spieltag</th>
            </tr>
            </thead>
            <tbody>
            {% for competition in competition.list %}
                <tr onclick="document.location.href = '{% url 'competition:detail' competition.id %}'"
                    style="cursor: hand">
                    <td>{{ competition.caption }}</td>
                    <td>{{ competition.current_matchday }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </card>

    <card>
        <grid>
            <div col="1/3">
                <h1>Begegnungen</h1>
            </div>
            <div col="2/3" txt="r">
                <tag>{{ fixture.count }} Begegnungen</tag>
                <tag>⌀{{ fixture.result_avg.goals_home_team }} Tore</tag>
                <tag>⌀{{ fixture.result_avg.goals_away_team }} Gegentore</tag>
            </div>
        </grid>
        <hr>
        <h3>Letzte 5 Begegnungen</h3>
        {% for last_five in fixture.last_five %}
            <grid>
                <div col="5/12" txt="c">
                    <img src="{{ last_five.home_team.crest_url }}"
                         style="height: 60px; object-fit: cover; object-position: 50% 0">
                    <p>{{ last_five.home_team.name }}</p>
                </div>
                <div col="2/12" txt="c">
                    <tag>
                        {% if last_five.result_set.all.0.halftime_set.all %}
                            {% spaceless %}
                                <p style="font-size: xx-large">
                                    {{ last_five.result_set.all.0.goals_home_team|default_if_none:"0" }}
                                    :
                                    {{ last_five.result_set.all.0.goals_away_team|default_if_none:"0" }}
                                </p>
                            {% endspaceless %}
                            {% spaceless %}
                                <p style="font-size: small">
                                    Halbzeitstand
                                    <br>
                                    {{ last_five.result_set.all.0.halftime_set.all.0.goals_home_team|default_if_none:"0" }}
                                    :
                                    {{ last_five.result_set.all.0.halftime_set.all.0.goals_away_team|default_if_none:"0" }}
                                </p>
                            {% endspaceless %}
                        {% else %}
                            {% spaceless %}
                                <p style="font-size: xx-large">
                                    {{ last_five.result_set.all.0.goals_home_team|default_if_none:"0" }}
                                    :
                                    {{ last_five.result_set.all.0.goals_away_team|default_if_none:"0" }}
                                </p>
                            {% endspaceless %}
                        {% endif %}
                    </tag>
                </div>
                <div col="5/12" txt="c">
                    <img src="{{ last_five.away_team.crest_url }}"
                         style="height: 60px; object-fit: cover; object-position: 50% 0">
                    <p>{{ last_five.away_team.name }}</p>
                </div>
            </grid>
            <hr>
        {% endfor %}
    </card>

    <card>
        <grid>
            <div col="1/3">
                <h1>Spieler</h1>
            </div>
            <div col="2/3" txt="r">
                <tag>{{ player.count }} Spieler</tag>
                <tag>⌀{{ player.market_value.avg|intword }} € Marktwert</tag>
            </div>
        </grid>
        <hr>
        <h3>Teuerste Spieler</h3>
        <table>
            <thead>
            <tr>
                <th>Spieler</th>
                <th>Verein</th>
                <th>Position</th>
                <th>Marktwert</th>
            </tr>
            </thead>
            <tbody>
            {% for best_five in player.best_five %}
                <tr onclick="document.location.href = '{% url 'player:detail' best_five.id %}'" style="cursor: hand">
                    <td>{{ best_five.name }}</td>
                    <td>{{ best_five.team.name }}</td>
                    <td>{{ best_five.position }}</td>
                    <td>{{ best_five.market_value|intword }} €</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </card>

    <card>
        <grid>
            <div col="1/3">
                <h1>Pokal-Tabellen</h1>
            </div>
            <div col="2/3" txt="r">
                <tag>{{ cup_table.count }} Pokal-Tabellen</tag>
                <tag>⌀{{ cup_table.group_standing.goals_avg }} Tore</tag>
            </div>
        </grid>
        <table>
            <thead>
            <tr>
                <th>Pokal</th>
                <th>Aktueller Spieltag</th>
            </tr>
            </thead>
            <tbody>
            {% for cup_table in cup_table.list %}
                <tr onclick="document.location.href = '{% url 'table:cup_detail' cup_table.id %}'" style="cursor: hand">
                    <td>{{ cup_table.league_caption }}</td>
                    <td>{{ cup_table.matchday }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </card>

    <card>
        <grid>
            <div col="1/3">
                <h1>Liga-Tabellen</h1>
            </div>
            <div col="2/3" txt="r">
                <tag>{{ league_table.count }} Liga-Tabellen</tag>
                <tag>⌀{{ league_table.standing.goals_avg }} Tore</tag>
            </div>
        </grid>
        <table>
            <thead>
            <tr>
                <th>Liga</th>
                <th>Aktueller Spieltag</th>
            </tr>
            </thead>
            <tbody>
            {% for league_table in league_table.list %}
                <tr onclick="document.location.href = '{% url 'table:league_detail' league_table.id %}'"
                    style="cursor: hand">
                    <td>{{ league_table.league_caption }}</td>
                    <td>{{ league_table.matchday }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </card>

    <card>
        <grid>
            <div col="1/3">
                <h1>Mannschaften</h1>
            </div>
            <div col="2/3" txt="r">
                <tag>{{ team.count }} Mannschaften</tag>
                <tag>⌀{{ team.squad_market_value.avg|intword }} € Mannschaftswert</tag>
            </div>
        </grid>
        <table>
            <thead>
            <tr>
                <th>Verein</th>
                <th>Mannschaftswert</th>
            </tr>
            </thead>
            <tbody>
            {% for best_five in team.best_five %}
                <tr onclick="document.location.href = '{% url 'team:detail' best_five.id %}'" style="cursor: hand">
                    <td>{{ best_five.name }}</td>
                    <td>{{ best_five.squad_market_value|intword }} €</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </card>
{% endblock %}