{% extends 'SoccerStats/base.html' %}

{% load list_extras %}

{% block content %}
    {% for cup_table in cup_tables %}
        <h2>{{ cup_table.league_caption }} Tabelle</h2>
        <grid>
            {% for group in cup_table.group_set.all %}
                <div col="1/2">
                    <card>
                        <h5>Gruppe {{ group.name }}</h5>
                        <hr>
                        <table>
                            <thead>
                            <tr>
                                <th>Position</th>
                                <th width="30%">Verein</th>
                                <th>Spiele</th>
                                <th>Tore</th>
                                <th>Diff.</th>
                                <th>Pkte.</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group_standing in group.groupstanding_set.all %}
                                <tr>
                                    <td>
                                        {% if cup_table_position_changes %}
                                            <tag>
                                                {% if cup_table_position_changes|get_at_index:forloop.parentloop.counter0|get_at_index:forloop.counter0 == True %}
                                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                {% elif cup_table_position_changes|get_at_index:forloop.counter0 == False %}
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                {% else %}
                                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                {% endif %}
                                            </tag>
                                        {% endif %}
                                        {{ group_standing.rank }}
                                    </td>
                                    <td width="30%">{{ group_standing.team }}</td>
                                    <td>{{ group_standing.played_games }}</td>
                                    <td>{{ group_standing.goals }}:{{ group_standing.goals_against }}</td>
                                    <td>{{ group_standing.goal_difference }}</td>
                                    <td>{{ group_standing.points }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </card>
                </div>
            {% endfor %}
        </grid>
    {% endfor %}
{% endblock %}