{% extends 'SoccerStats/base.html' %}

{% load list_extras %}

{# TODO Fix table changes #}

{% block content %}
    <div class="card">
        <h3 class="card-header">{{ table.competition.caption }} Tabelle</h3>
        {% if table.competition.is_cup %}
            <div class="row">
                {% for group in table.group_set.all %}
                    <div class="table-responsive col-xl-6">
                        <table class="table table-hover">
                            <h5 class="card-header">Gruppe {{ group.name }}</h5>
                            <thead>
                            <tr>
                                <th>Position</th>
                                <th>Verein</th>
                                <th>Spiele</th>
                                <th>Tore</th>
                                <th>Punkte</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group_standing in group.groupstanding_set.all %}
                                <tr
                                        onclick="document.location = '{% url 'team:detail' group_standing.team.id %}'"
                                        style="cursor: pointer"
                                >
                                    <td>
                                        {% if table_changes %}
                                            <span class="badge badge-pill badge-default">
                                                {% if table_changes|filter_at_index:forloop.counter0 == True %}
                                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                {% elif table_changes|filter_at_index:forloop.counter0 == False %}
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                {% else %}
                                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                        {{ group_standing.rank }}
                                    </td>
                                    <td>{{ group_standing.team.name }}</td>
                                    <td>{{ group_standing.played_games }}</td>
                                    <td>{{ group_standing.goals }}:{{ group_standing.goals_against }}</td>
                                    <td>{{ group_standing.points }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Position</th>
                        <th>Verein</th>
                        <th>Spiele</th>
                        <th>g.</th>
                        <th>u.</th>
                        <th>v.</th>
                        <th>Tore</th>
                        <th>Diff.</th>
                        <th>Pkte.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for standing in table.standing_set.all %}
                        <tr onclick="document.location = '{% url 'team:detail' standing.team.id %}'"
                            style="cursor: pointer">
                            <td>
                                {% if table_changes %}
                                    <span class="badge badge-pill badge-default">
                                        {% if table_changes|filter_at_index:forloop.counter0 == True %}
                                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                        {% elif table_changes|filter_at_index:forloop.counter0 == False %}
                                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        {% endif %}
                                    </span>
                                {% endif %}
                                {{ standing.position }}
                            </td>
                            <td>{{ standing.team.name }}</td>
                            <td>{{ standing.played_games }}</td>
                            <td>{{ standing.wins }}</td>
                            <td>{{ standing.draws }}</td>
                            <td>{{ standing.losses }}</td>
                            <td>{{ standing.goals }}:{{ standing.goals_against }}</td>
                            <td>{{ standing.goal_difference }}</td>
                            <td>{{ standing.points }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}